/* * {
    box-sizing: border-box;
  } */
  
 /*  body {
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  /* .menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  

  .menu-trigger {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0;
  }
 /*  .menu-trigger {
     background: none; 
    border : none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto;  Strictly for positioning 
  } */
  
  /* .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  } */
  
  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }
  
 /*  .menu-trigger img {
    border-radius: 90px;
  } */
  
  .menuu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 250px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menuu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menuu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menuu li {
    border-bottom: 1px solid #dddddd;
  }
  
  .menuu li a {
    text-decoration: none;
    color: #333333;
    padding: 10px 15px;
    display: block;
  }
  